 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500&display=swap');
*{
    font-family: 'Noto Sans Thai', sans-serif;
}

.font-outbold{
    font-weight: 900;
}

:root {
    color-scheme: light dark;
    --special-text-color: rgb(243, 239, 239);
    --border-color: black;
    --bg-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --special-text-color: rgb(0, 0, 0);
        --border-color: white;
        --bg-color: rgb(51, 51, 51);
    }
}

.bg{
    background-color: var(--special-text-color)!important; 
 }


.bg2{
    background-color: var(--bg-color); 
}